<h1 class="h2 text-center mb-3">ประวัติการทำแบบทดสอบ</h1>
<div class="row">
	<div class="col-12 col-xl-12 mb-4 mb-lg-0">
		<div class="card">
			<div class="card-header d-flex justify-content-between align-items-center">
				<h5 class="m-0">ตารางแสดงผลการทำแบบทดสอบ</h5>
				<div>
					<button class="btn btn-outline-secondary btn-sm">JSON</button>
				</div>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">ชื่อ</th>
								<th scope="col">คะแนนรวม</th>
								<th scope="col">คะแนนส่วนที่ 1</th>
								<th scope="col">คะแนนส่วนที่ 2</th>
								<th scope="col">คะแนนส่วนที่ 3</th>
								<th scope="col">วันที่ทำแบบทดสอบ</th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody>
							{{#each result}}
							<tr>
								<th scope="row">{{inc @index 1}}</th>
								{{#each newObj}} 
								<td>{{name}}</td>
								{{/each}}
								<td>{{totalScore}}</td>
								{{#each sections}}
								<td>{{finalScore score.congruent score.incongruent}}</td>
								{{/each}}
								<td>{{datetimeFormat createdAt 'Do MMM YYYY, HH:mm:ss'}} น.</td>
								<td><a href="/history/{{_id}}" class="btn btn-sm btn-primary">View</a></td>
							</tr>
							{{/each}}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>