<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">แดชบอร์ด</a></li>
		<li class="breadcrumb-item"><a href="/histories/1">ประวัติทั้งหมด</a></li>
		<li class="breadcrumb-item active">ประวัติ</li>
	</ol>
</nav>
<div class="row">
	<div class="col-12 col-xl-12 mb-4 mb-lg-0">
		<div class="card">
			<div class="card-header d-flex justify-content-between align-items-center">
				<h5 class="m-0">ประวัติ</h5>
				{{#each result}}
				{{#each user}}
				<div>
					<a href="/user/{{_id}}" class="btn btn-outline-primary btn-sm">รายละเอียดผู้ใช้งาน</a>
				</div>
				{{/each}}
				{{/each}}
			</div>
			<div class="card-body">
				<div class="container">
					<div class="main-body">
						<div class="row gutters-sm">
							<div class="col-md-4 mb-3">
								<div class="card h-100">
									<div class="card-body">
										<div
											class="d-flex flex-column justify-content-between align-items-center text-center">
											<img src="../assets/images/avartar_default.png" alt="default avatar"
												class="rounded-circle" width="150">
											<div class="mt-3">
												{{#each result}}
												{{#each user}}
												<h4>{{username}}</h4>
												<p class="text-muted font-size-sm mb-1">อายุ {{yearsOld dateOfBirth
													'years'}} ปี</p>
												<p class="text-muted font-size-sm m-0">วันเกิด {{datetimeFormat
													dateOfBirth 'Do MMM YYYY'}}</p>
												{{/each}}
												{{/each}}
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-8">
								<div class="card mb-3">
									<div class="card-body">
										{{#each result}}
										{{#each user}}
										<div class="row">
											<div class="col-sm-3">
												<h6 class="mb-0">ชื่อจริง</h6>
											</div>
											<div class="col-sm-9 text-secondary">
												{{name}} {{surname}}
											</div>
										</div>
										<hr>
										<div class="row">
											<div class="col-sm-3">
												<h6 class="mb-0">อีเมล</h6>
											</div>
											<div class="col-sm-9 text-secondary">
												{{email}}
											</div>
										</div>
										<hr>
										<div class="row">
											<div class="col-sm-3">
												<h6 class="mb-0">เบอร์โทรศัพท์</h6>
											</div>
											<div class="col-sm-9 text-secondary">
												{{tel}}
											</div>
										</div>
										<hr>
										<div class="row">
											<div class="col-sm-3">
												<h6 class="mb-0">วันที่สมัครสมาชิก</h6>
											</div>
											<div class="col-sm-9 text-secondary">
												{{datetimeFormat createdAt 'Do MMM YYYY, HH:mm'}} น.
											</div>
										</div>
										<hr>
										{{/each}}
										{{/each}}
									</div>
								</div>
							</div>
							<div class="col-md-12 mb-3">
								<div class="card h-100">
									<div class="card-body">
										{{#each result}}
										<div class="d-flex justify-content-between align-items-center">
											<div>
												<span>
													<h3 class="m-0">{{totalScore}}</h3>คะแนนรวม
												</span>
											</div>
											<div>
												<span>{{datetimeFormat createdAt 'Do MMM YYYY, HH:mm'}} น.</span>
											</div>
										</div>
										{{/each}}
										<hr>
										<p>คะแนนแต่ละส่วน</p>
										<div
											class="card-group d-flex justify-content-between align-items-center text-center">
											{{#each result}}
											{{#each sections}}
											<div class="card">
												<div class="card-header">คะแนนส่วนที่ {{inc @index 1}}</div>
												<div class="card-body">
													<span style="font-size: 10px;">{{changeMsToS avgReactionTimeMs}}
														วินาที</span>
													<h4 class="mb-1">{{scorePercent score.congruent score.incongruent}}%
													</h4>
													<span style="font-size: 16px;">{{finalScore score.congruent
														score.incongruent}}/20</span>
												</div>
											</div>
											{{/each}}
											{{/each}}
										</div>
										<hr>
										<p>คะแนนแต่ละประเภท</p>
										<div
											class="card-group d-flex justify-content-between align-items-center text-center">
											<div class="card">
												<div class="card-header"><span>Congruent <p class="m-0"
															style="font-size: 14px;">สีที่แสดงตรงกับคำอ่าน</p></span>
												</div>
												<div class="card-body">
													<h4 class="mb-1">{{congruentPercent con}}%</h4>
													<span style="font-size: 16px;">{{con}}/30</span>
												</div>
											</div>
											<div class="card">
												<div class="card-header"><span>Incongruent <p class="m-0"
															style="font-size: 14px;">สีที่แสดงไม่ตรงกับคำอ่าน</p></span>
												</div>
												<div class="card-body">
													<h4 class="mb-1">{{congruentPercent incon}}%</h4>
													<span style="font-size: 16px;">{{incon}}/30</span>
												</div>
											</div>
										</div>
										<hr>
										<p>รางวัล</p>
										<div class="card-group d-flex justify-content-between align-items-center text-center">
											<div class="card" style="height: 400px;">
												<div class="card-header">ทดสอบต่อเนื่องหลายวัน</div>
												<div class="card-body d-flex flex-wrap justify-content-center align-items-center">
													{{#if testDayStack}}
													{{#each (reverseArray testDayStack)}}
													<img class="my-3 mx-3" src="/{{imgPath}}" alt="{{name}}"
														style="width: 100px;">
													{{/each}}
													{{else}}
													<div>
														<img class="mt-3 mb-0 mx-3" src="../assets/images/empty_data.png"
															alt="empty" style="width: 100px;">
														<p class="mb-0" style="font-size: 13px;">ยังไม่ได้รับรางวัล</p>
													</div>
													{{/if}}
												</div>
											</div>
											<div class="card" style="height: 400px;">
												<div class="card-header">ตอบถูกติดกันหลายข้อ</div>
												<div class="card-body d-flex flex-wrap justify-content-center align-items-center">
													{{#if correctStack}}
													{{#each (reverseArray correctStack)}}
													<img class="my-3 mx-3" src="/{{imgPath}}" alt="{{name}}"
														style="width: 100px;">
													{{/each}}
													{{else}}
													<div style="height: 140px;">
														<img class="mt-3 mb-0 mx-3" src="../assets/images/empty_data.png"
															alt="empty" style="width: 100px;">
														<p class="mb-0" style="font-size: 13px;">ยังไม่ได้รับรางวัล</p>
													</div>
													{{/if}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>