<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item active">แดชบอร์ด</li>
	</ol>
</nav>
<h1 class="h2 text-center mb-3">แดชบอร์ด</h1>
<div class="row mb-3">
	<div class="col-12 col-md-6 col-lg-6 mb-4 mb-lg-0">
		<div class="card">
			<h5 class="card-header text-center users-card">
				<span class="material-symbols-outlined">
					group
				</span>
				<span class="pl-1">
					ผู้ใช้งาน
				</span>
			</h5>
			<div class="card-body">
				<h5 class="card-title text-center">{{userCount}} คน</h5>
			</div>
		</div>
	</div>
	<div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-6">
		<div class="card">
			<h5 class="card-header text-center histories-card">
				<span class="material-symbols-outlined">
					history
				</span>
				<span class="pl-1">
					ทำแบบทดสอบสำเร็จ
				</span>
			</h5>
			<div class="card-body">
				<h5 class="card-title text-center">{{historiesCount}} ครั้ง</h5>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-12 mb-3">
		<div class="card-group">
			<div class="card">
				<h5 class="card-header">กราฟสมาชิกใหม่ในแต่ละเดือน</h5>
				<div class="card-body">
					<div class="chart-container">
						<canvas id="userChart"></canvas>
					</div>
				</div>
			</div>
			<div class="card">
				<h5 class="card-header">กราฟจำนวนครั้งผู้เข้าทดสอบในแต่ละเดือน</h5>
				<div class="card-body">
					<div class="chart-container">
						<canvas id="testChart"></canvas>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-xl-12 mb-4 mb-lg-0">
		<div class="card">
			<h5 class="card-header">ตารางแสดงผลการทำแบบทดสอบล่าสุด</h5>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-hover table-sortable">
						<thead>
							<tr>
								<th>#</th>
								<th scope="col">ชื่อ</th>
								<th scope="col">คะแนนรวม</th>
								<th scope="col">คะแนนส่วนที่ 1</th>
								<th scope="col">คะแนนส่วนที่ 2</th>
								<th scope="col">คะแนนส่วนที่ 3</th>
								<th scope="col">วันที่ทำแบบทดสอบ</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							{{#each result}}
							<tr>
								<td class="font-weight-bold">{{inc @index 1}}</td>
								{{#each user}}
								<td>{{username}}</td>
								{{/each}}
								<td>{{totalScore}}</td>
								{{#each sections}}
								<td>{{finalScore score.congruent score.incongruent}}</td>
								{{/each}}
								<td>{{datetimeFormat createdAt 'Do MMM YYYY, HH:mm'}} น.</td>
								<td><a href="/history/{{_id}}" class="btn btn-sm btn-primary">รายละเอียด</a></td>
							</tr>
							{{/each}}
						</tbody>
					</table>
				</div>
				<a href="/histories/1" class="btn btn-block btn-light">View all</a>
			</div>
		</div>
	</div>
</div>

<script>
	const labels1 = [
	{{#each labelsData1}}
	'{{month this}}',
	{{/each}}
	];

	const data1 = {
		labels: labels1,
		datasets: [
			{
				label: 'สมาชิกใหม่ในแต่ละเดือน',
				backgroundColor: 'rgb(255, 99, 132, 0.2)',
				borderColor: 'rgb(255, 99, 132)',
				borderWidth: 1,
				borderRadius: 12,
				borderSkipped: false,
				data: [{{chartData1}}],
			}
		]
	};

	const config1 = {
		type: 'bar',
		data: data1,
		options: {
			plugins: {
				legend: {
					display: false
				}
			},
			maintainAspectRatio: false,
			scales: {
				y: {
					beginAtZero: true,
					ticks: {
						callback: function (value, index, ticks) {
							return value + ' ' + 'คน';
						}
					}
				}
			}
		}
	};
</script>

<script>
	const chart1 = new Chart(
		document.getElementById('userChart'),
		config1
	);
</script>

<script>
	const labels2 = [
	{{#each labelsData2}}
	'{{month this}}',
	{{/each}}
	];

	const data2 = {
		labels: labels2,
		datasets: [
			{
				label: 'จำนวนครั้งผู้เข้าทดสอบในแต่ละเดือน',
				backgroundColor: 'rgb(255, 99, 132, 0.2)',
				borderColor: 'rgb(255, 99, 132)',
				borderWidth: 1,
				borderRadius: 12,
				borderSkipped: false,
				data: [{{chartData2}}],
			}
		]
	};

	const config2 = {
		type: 'bar',
		data: data2,
		options: {
			plugins: {
				legend: {
					display: false
				}
			},
			maintainAspectRatio: false,
			scales: {
				y: {
					beginAtZero: true,
					ticks: {
						callback: function (value, index, ticks) {
							return value + ' ' + 'ครั้ง';
						}
					}
				}
			}
		}
	};
</script>

<script>
	const chart = new Chart(
		document.getElementById('testChart'),
		config2
	);
</script>